<footer>
  <div class="f-info">
    <div class="socials">
      <i
        class="d-flex justify-content-center align-items-center fa-brands fa-square-facebook"
      ></i>
      <i
        class="d-flex justify-content-center align-items-center fa-brands fa-instagram"
      ></i>

      <a
        class="p-0"
        target="_blank"
        href="https://www.linkedin.com/in/bojanapally-santhoshkumar/"
        style="text-decoration: none; color: black; cursor: pointer"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="company">&copy;WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
