body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222;
}

/* footer */

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  background-color: #ebebeb;
}

.f-info {
  height: 8rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info .socials {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* new Form */

.add-listing {
  background-color: #fe424d;
  border: none;
}

/* boiler-plate */

.container {
  width: 100%;
  padding: 20px;
  flex: 1;
}

/* cards */

.listing-card {
  padding-left: 1rem;
  border: none;
  border-radius: 8px;
}

.card:hover {
  background-color: white;
}

.card-img-top {
  height: 15rem;
  width: 15rem;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-body {
  padding: 0;
}

.card-title {
  font-weight: 600;
  font-size: medium;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.listing-link {
  text-decoration: none;
  margin-bottom: 20px;
}

/* Edit Page */

.edit-btn {
  background-color: #fe424d;
  border: none;
}

/* Individual show */

.listing-card-img-top {
  width: 50rem;
  height: 20rem;
  border-radius: 10px;
}

.listing-edit-btn {
  background-color: #fe424d;
  border: none;
}

.listing-edit-btn a {
  text-decoration: none;
  color: white;
}
