body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

/* footer */

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  background-color: #ebebeb;
}

.f-info {
  height: 8rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info .socials {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* new Form */

.add-listing {
  background-color: #fe424d;
  border: none;
}

/* boiler-plate */

.container {
  padding: 20px;
  flex: 1;
}

/* cards */

.listing-card {
  border: none;
  border-radius: 8px;
}

.card:hover {
  background-color: white;
}

.card-img-top {
  height: 15rem;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-body {
  padding: 0;
}

.card-title {
  font-weight: 600;
  font-size: medium;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.listing-link {
  text-decoration: none;
  margin-bottom: 20px;
}

/* Edit Page */

.edit-btn {
  background-color: #fe424d;
  border: none;
}

/* Individual show */

.listing-card-img-top {
  width: 50rem;
  height: 20rem;
  border-radius: 10px;
}

.listing-edit-btn {
  background-color: #fe424d;
  border: none;
}

.listing-edit-btn a {
  text-decoration: none;
  color: white;
}

/* Map */

#map {
  height: 350px;
  width: 60vh;
}

/* listing category */

.multi-select {
  position: relative;
  display: inline-block;
  margin-top: 23px;
}

#msBtn {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.ms-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 220px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  z-index: 999;
}

.ms-menu label {
  display: block;
  padding: 6px 4px;
  cursor: pointer;
}
.ms-menu input {
  margin-right: 8px;
}
.ms-menu.show {
  display: block;
}

/* Category */
#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#filters a {
  text-decoration: none;
  color: black;
}
.filter {
  text-align: center;
  opacity: 0.65;
  margin: 1rem;
  transition: all 0.2s;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter img {
  height: 22px;
}
.filter > p {
  font-size: small;
}
.tax-info {
  display: none;
}
.tax-button {
  border: 1px solid rgb(172, 172, 172);
  padding: 15px;
  height: 3.25rem;
  border-radius: 15px;
}
#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* nolisting */

.nolisting {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Apply Tax */

.tax-info {
  display: "hidden";
}
